In [25]:
import pandas as pd

In [52]:
draft_df = pd.read_csv('beersheet.csv')
draft_df

,Name,Pos,Tm/Bye,Average,Stdev,Rank,Tier,ECR,ECRAvg,ECR VS. ADP,PS,Baseline
0,Patrick Mahomes,QB,KC/12,6.14,1.18,1,1,3|06,30.0,-0.833333,0.85,QB:15
1,Josh Allen,QB,BUF/7,5.56,1.06,2,1,4|07,43.5,-0.750000,0.71,RB:45
2,Kyler Murray,QB,ARI/12,5.40,1.67,3,1,5|06,54.4,-1.166667,0.58,WR:55
3,Lamar Jackson,QB,BAL/8,4.98,1.02,4,1,5|08,56.3,-0.916667,0.45,TE:18
4,Dak Prescott,QB,DAL/7,3.52,1.16,5,2,6|02,62.4,-0.666667,0.36,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
350,Frank Darby,WR,ATL/6,-6.49,1.01,148,10,32|08,380.8,0.000000,0.00,NaN
351,Mack Hollins,WR,MIA/14,-6.74,2.17,149,10,NaN,NaN,NaN,0.00,NaN
352,Ray-Ray McCloud,WR,PIT/7,-6.75,1.19,150,10,32|12,384.0,0.000000,0.00,NaN
353,Mike Thomas,WR,CIN/10,-6.86,1.24,151,10,NaN,NaN,NaN,0.00,NaN
354,Jeff Smith,WR,NYJ/6,-7.29,1.75,152,10,NaN,NaN,NaN,0.00,NaN

In [53]:
draft_df = draft_df.dropna(subset = ['ECR'])
draft_df

,Name,Pos,Tm/Bye,Average,Stdev,Rank,Tier,ECR,ECRAvg,ECR VS. ADP,PS,Baseline
0,Patrick Mahomes,QB,KC/12,6.14,1.18,1,1,3|06,30.0,-0.833333,0.85,QB:15
1,Josh Allen,QB,BUF/7,5.56,1.06,2,1,4|07,43.5,-0.750000,0.71,RB:45
2,Kyler Murray,QB,ARI/12,5.40,1.67,3,1,5|06,54.4,-1.166667,0.58,WR:55
3,Lamar Jackson,QB,BAL/8,4.98,1.02,4,1,5|08,56.3,-0.916667,0.45,TE:18
4,Dak Prescott,QB,DAL/7,3.52,1.16,5,2,6|02,62.4,-0.666667,0.36,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
346,Chad Beebe,WR,MIN/7,-6.30,0.96,143,10,27|02,314.8,-4.583333,0.00,NaN
347,Jalen Hurd,WR,SF/6,-6.30,1.38,144,10,27|06,318.1,0.000000,0.00,NaN
349,Dazz Newsome,WR,CHI/10,-6.41,1.91,147,10,28|02,326.0,-4.000000,0.00,NaN
350,Frank Darby,WR,ATL/6,-6.49,1.01,148,10,32|08,380.8,0.000000,0.00,NaN
352,Ray-Ray McCloud,WR,PIT/7,-6.75,1.19,150,10,32|12,384.0,0.000000,0.00,NaN

In [54]:
team = []
bye = []

for x in range(len(draft_df)):
    tb = draft_df.iloc[x, 2].split('/')
    
    team.append(tb[0])
    
    bye.append(tb[1])

draft_df['Team'] = team 
draft_df['Bye'] = bye
draft_df

<ipython-input-54-cf10358a8f5a>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  draft_df['Team'] = team
<ipython-input-54-cf10358a8f5a>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  draft_df['Bye'] = bye

,Name,Pos,Tm/Bye,Average,Stdev,Rank,Tier,ECR,ECRAvg,ECR VS. ADP,PS,Baseline,Team,Bye
0,Patrick Mahomes,QB,KC/12,6.14,1.18,1,1,3|06,30.0,-0.833333,0.85,QB:15,KC,12
1,Josh Allen,QB,BUF/7,5.56,1.06,2,1,4|07,43.5,-0.750000,0.71,RB:45,BUF,7
2,Kyler Murray,QB,ARI/12,5.40,1.67,3,1,5|06,54.4,-1.166667,0.58,WR:55,ARI,12
3,Lamar Jackson,QB,BAL/8,4.98,1.02,4,1,5|08,56.3,-0.916667,0.45,TE:18,BAL,8
4,Dak Prescott,QB,DAL/7,3.52,1.16,5,2,6|02,62.4,-0.666667,0.36,NaN,DAL,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
346,Chad Beebe,WR,MIN/7,-6.30,0.96,143,10,27|02,314.8,-4.583333,0.00,NaN,MIN,7
347,Jalen Hurd,WR,SF/6,-6.30,1.38,144,10,27|06,318.1,0.000000,0.00,NaN,SF,6
349,Dazz Newsome,WR,CHI/10,-6.41,1.91,147,10,28|02,326.0,-4.000000,0.00,NaN,CHI,10
350,Frank Darby,WR,ATL/6,-6.49,1.01,148,10,32|08,380.8,0.000000,0.00,NaN,ATL,6
352,Ray-Ray McCloud,WR,PIT/7,-6.75,1.19,150,10,32|12,384.0,0.000000,0.00,NaN,PIT,7

In [55]:
df = draft_df[['Name', 'Pos', 'Rank', 'Tier', 'ECR', 'Team', 'Bye']]
df

                Name Pos  Rank  Tier    ECR Team Bye
0    Patrick Mahomes  QB     1     1   3|06   KC  12
1         Josh Allen  QB     2     1   4|07  BUF   7
2       Kyler Murray  QB     3     1   5|06  ARI  12
3      Lamar Jackson  QB     4     1   5|08  BAL   8
4       Dak Prescott  QB     5     2   6|02  DAL   7
..               ...  ..   ...   ...    ...  ...  ..
346       Chad Beebe  WR   143    10  27|02  MIN   7
347       Jalen Hurd  WR   144    10  27|06   SF   6
349     Dazz Newsome  WR   147    10  28|02  CHI  10
350      Frank Darby  WR   148    10  32|08  ATL   6
352  Ray-Ray McCloud  WR   150    10  32|12  PIT   7

[343 rows x 7 columns]

In [56]:
n=0
pid = []

for x in range(len(df)):
    n+=1
    pid.append(n)

    
df['ID'] = pid
df

<ipython-input-56-ff4f0c61aac8>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ID'] = pid

                Name Pos  Rank  Tier    ECR Team Bye   ID
0    Patrick Mahomes  QB     1     1   3|06   KC  12    1
1         Josh Allen  QB     2     1   4|07  BUF   7    2
2       Kyler Murray  QB     3     1   5|06  ARI  12    3
3      Lamar Jackson  QB     4     1   5|08  BAL   8    4
4       Dak Prescott  QB     5     2   6|02  DAL   7    5
..               ...  ..   ...   ...    ...  ...  ..  ...
346       Chad Beebe  WR   143    10  27|02  MIN   7  339
347       Jalen Hurd  WR   144    10  27|06   SF   6  340
349     Dazz Newsome  WR   147    10  28|02  CHI  10  341
350      Frank Darby  WR   148    10  32|08  ATL   6  342
352  Ray-Ray McCloud  WR   150    10  32|12  PIT   7  343

[343 rows x 8 columns]

In [57]:
df.columns = ['name', 'pos', 'rank', 'tier', 'ecr', 'team', 'bye', 'id']
df

                name pos  rank  tier    ecr team bye   id
0    Patrick Mahomes  QB     1     1   3|06   KC  12    1
1         Josh Allen  QB     2     1   4|07  BUF   7    2
2       Kyler Murray  QB     3     1   5|06  ARI  12    3
3      Lamar Jackson  QB     4     1   5|08  BAL   8    4
4       Dak Prescott  QB     5     2   6|02  DAL   7    5
..               ...  ..   ...   ...    ...  ...  ..  ...
346       Chad Beebe  WR   143    10  27|02  MIN   7  339
347       Jalen Hurd  WR   144    10  27|06   SF   6  340
349     Dazz Newsome  WR   147    10  28|02  CHI  10  341
350      Frank Darby  WR   148    10  32|08  ATL   6  342
352  Ray-Ray McCloud  WR   150    10  32|12  PIT   7  343

[343 rows x 8 columns]

In [58]:
df['ecr2'] = [x.split('|') for x in df['ecr']]

df

<ipython-input-58-afa0b64d0bc7>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ecr2'] = [x.split('|') for x in df['ecr']]

                name pos  rank  tier    ecr team bye   id      ecr2
0    Patrick Mahomes  QB     1     1   3|06   KC  12    1   [3, 06]
1         Josh Allen  QB     2     1   4|07  BUF   7    2   [4, 07]
2       Kyler Murray  QB     3     1   5|06  ARI  12    3   [5, 06]
3      Lamar Jackson  QB     4     1   5|08  BAL   8    4   [5, 08]
4       Dak Prescott  QB     5     2   6|02  DAL   7    5   [6, 02]
..               ...  ..   ...   ...    ...  ...  ..  ...       ...
346       Chad Beebe  WR   143    10  27|02  MIN   7  339  [27, 02]
347       Jalen Hurd  WR   144    10  27|06   SF   6  340  [27, 06]
349     Dazz Newsome  WR   147    10  28|02  CHI  10  341  [28, 02]
350      Frank Darby  WR   148    10  32|08  ATL   6  342  [32, 08]
352  Ray-Ray McCloud  WR   150    10  32|12  PIT   7  343  [32, 12]

[343 rows x 9 columns]

In [59]:
r = []
s = []
for x in range(len(df)):
    rnd = int(df.iloc[x, 8][0])
    spt = int(df.iloc[x, 8][1])
    
    r.append(rnd)
    s.append(spt)

    
df['round'] = r
df['spot'] = s
df =df.sort_values(by=['round', 'spot'])
df

<ipython-input-59-fe8a36fa3696>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['round'] = r
<ipython-input-59-fe8a36fa3696>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['spot'] = s

,name,pos,rank,tier,ecr,team,bye,id,ecr2,round,spot
36,Christian McCaffrey,RB,1,1,1|01,CAR,13,37,"[1, 01]",1,1
37,Dalvin Cook,RB,2,2,1|02,MIN,7,38,"[1, 02]",1,2
38,Alvin Kamara,RB,3,2,1|04,NO,6,39,"[1, 04]",1,4
39,Derrick Henry,RB,4,2,1|04,TEN,13,40,"[1, 04]",1,4
41,Ezekiel Elliott,RB,6,3,1|05,DAL,7,42,"[1, 05]",1,5
...,...,...,...,...,...,...,...,...,...,...,...
352,Ray-Ray McCloud,WR,150,10,32|12,PIT,7,343,"[32, 12]",32,12
339,Phillip Dorsett,WR,136,10,34|01,JAX,7,333,"[34, 01]",34,1
203,Josh Oliver,TE,67,10,35|11,BAL,8,201,"[35, 11]",35,11
123,Corey Clement,RB,88,10,36|03,NYG,10,123,"[36, 03]",36,3
136,DErnest Johnson,RB,102,10,36|11,CLE,13,136,"[36, 11]",36,11

In [60]:
df = df[['name', 'pos', 'rank', 'tier', 'ecr', 'team', 'bye', 'id']]
df

                    name pos  rank  tier    ecr team bye   id
36   Christian McCaffrey  RB     1     1   1|01  CAR  13   37
37           Dalvin Cook  RB     2     2   1|02  MIN   7   38
38          Alvin Kamara  RB     3     2   1|04   NO   6   39
39         Derrick Henry  RB     4     2   1|04  TEN  13   40
41       Ezekiel Elliott  RB     6     3   1|05  DAL   7   42
..                   ...  ..   ...   ...    ...  ...  ..  ...
352      Ray-Ray McCloud  WR   150    10  32|12  PIT   7  343
339      Phillip Dorsett  WR   136    10  34|01  JAX   7  333
203          Josh Oliver  TE    67    10  35|11  BAL   8  201
123        Corey Clement  RB    88    10  36|03  NYG  10  123
136      DErnest Johnson  RB   102    10  36|11  CLE  13  136

[343 rows x 8 columns]

In [61]:
df.to_csv('beer.csv', index = False)